<!doctype html>
<html lang="en" ng-app="MyBox">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MyBox</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/topcoat-mobile-onsen-ios7.css"> 
  <link rel="stylesheet" href="styles/app.css"/> 
  <link rel="stylesheet" href="styles/zzj.css"/>

  <link rel="stylesheet" href="styles/qr-share.css"/> 

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/app.js"></script> 
  <script src="js/controller.js"></script>

</head>

<body>    
  
  <ons-screen>

    <ons-sliding-menu 
      behind-page="menu.html" 
      above-page="qr-share.html">
    </ons-sliding-menu>

    <ons-text-input 
      ng-model="text"
      placeholder="Type here" 
      style="display: block; width: 100%">
    </ons-text-input>
    
  <ons-screen>
    <ons-navigator title="分享">
        <ons-page class="center">
            <ons-row>
              <div id="qr-box">
                  <p class="box-number">1</p>
                  <p class="box-location"><span id="box-category">起居室</span> : <span id="box-name">书籍</span></p>
              </div>
              <div id="qr-area">
                  <p>扫描二维码可以查看盒子里的物品</p>
                  <img src="images/qr-test.png" alt="">
              </div>
            </ons-row>
            <ons-button id="share-btn"
                ng-click="ons.screen.presentPage('page2.html')">
                    点击分享
            </ons-button>
        </ons-page>
    </ons-navigator>
  </ons-screen>
  </ons-screen>
 
</body>
</html>
