<ons-page class="center">
<div ng-controller="ItemCtrl">
    <ons-navigator-toolbar title="添加东西"  left-button-icon="fa fa-lg fa-chevron-left" right-button-icon="fa fa-lg fa-check fa-check3"
                           on-left-button-click="ons.navigator.popPage()">
    </ons-navigator-toolbar>

    <table class="add-item-table" BORDER=0 CELLSPACING="0">
      <tr>
	<td width="15%">
	  <img src="images/name.png" class="add-item-icon">
	</td>
	<td width="85%">
	  <input id="item_name" type="text" ng-model="itemName" class="add-item-row-input" placeholder="名称">
	</td>
      </tr>

      <tr>
	<td width="15%">
	  <img src="images/discription.png" class="add-item-icon">
	</td>
	<td width="85%">
	  <input id="item_description" type="text" ng-model="itemDescription" class="add-item-row-input" placeholder="描述">
	</td>
      </tr>

      <tr>
	<td width="15%">
	  <img src="images/belong_box.png" class="add-item-icon">
	</td>
	<td width="85%">
	  <select id="belong_box_option" name="belong_box" ng-model="belongBox" class="add-item-row-input"> 
	    <option value="0" selected="selected">起居室</option> 
	    <option value="1">-起居室:书籍</option> 
	    <option value="2">-起居室:饮料</option> 
	    <option value="0">床底</option> 
	    <option value="3">-床底:衣服</option> 
	    <option value="0">柜子里</option> 
	    <option value="4">-柜子里:上衣</option> 
	    <option value="5">-柜子里:裤子</option> 
	  </select> 
	</td>
      </tr>

      <tr>
	<td width="15%">
	  <img src="images/price.png" class="add-item-icon">
	</td>
	<td width="85%">
	  <input id="item_price" type="text" ng-model="itemPrice" class="add-item-row-input" placeholder="价格">
	</td>
      </tr>

      <tr>
	<td width="15%">
	  <img src="images/calendar.png" class="add-item-icon">
	</td>
	<td width="85%">
	  <input type="text" id="datepicker">
	</td>
      </tr>

    </table>
    <div class="add-item-photo">
    	<img id="photoImg" src="images/ic_item_1.png"/>
	</div>
    <div class="add-item-take-photo">
      <ons-button type="large--cta" ng-click="takePicture()">
	拍张照吧！
      </ons-button>
    </div>
    <p></p>
    <div class="add-item-take-photo">
      <ons-button type="large--cta" ng-click="confirm()">
	确认
      </ons-button>
    </div>

</div>
</ons-page>


