<ons-page class="center" style="background-color:#fff;">
	<div ng-controller="ItemCtrl">
	    <ons-navigator-toolbar title="盒子详情"></ons-navigator-toolbar>
	    <div class="box-title-container">
	    	<div class="box-title">起居室-书籍</div>
	    	<div class="box-num">4</div>
	   	</div>
	   	<div class="box-option-container">
	    	<div class="add-item-button"><i class="fa fa-plus" ng-click="ons.navigator.pushPage('item-create.html')"></i></div>
	    	<div class="code-item-button"><i class="fa fa-qrcode"></i></div>
	   	</div>
	   	<ul class="item-list-container">
	   		<li class="item-item-container" ng-repeat="item in itemList">
	   			<div class="item-icon {{item.icon}}"></div>
	   			<div class="item-title-container">
	   				<div class="item-title">
	   					{{item.title}}
	   				</div>
	   				<div class="item-time">
	   					{{item.time}}
	   				</div>
	   				<div styel="clear:both;"></div>
	   			</div>
	   		</li>
	   	</ul>
	</div>
</ons-page>
